<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mapper.MajorMapper">

    <resultMap id="BaseResultMap" type="com.ruoyi.domain.dto.Major">
            <id property="major_id" column="major_id" jdbcType="INTEGER"/>
            <result property="major_code" column="major_code" jdbcType="VARCHAR"/>
            <result property="major_name" column="major_name" jdbcType="VARCHAR"/>
            <result property="create_by" column="create_by" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_by" column="update_by" jdbcType="VARCHAR"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="parent_major_id" column="parent_major_id" jdbcType="INTEGER"/>
            <result property="degree_name" column="degree_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        major_id,major_code,major_name,
        create_by,create_time,update_by,
        update_time,remark,parent_major_id,
        degree_name
    </sql>
</mapper>
