<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mapper.MajorSecondaryMapper">

    <resultMap id="BaseResultMap" type="com.ruoyi.domain.MajorSecondary">
            <id property="majorSecondaryId" column="major_secondary_id" jdbcType="INTEGER"/>
            <result property="majorCode" column="major_code" jdbcType="VARCHAR"/>
            <result property="majorName" column="major_name" jdbcType="VARCHAR"/>
            <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
            <result property="degreeType" column="degree_type" jdbcType="INTEGER"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        major_secondary_id
        ,major_code,major_name,
        parent_id,degree_type,create_by,
        create_time,update_by,update_time,
        remark
    </sql>
    <select id="selectListByParentId" resultType="com.ruoyi.domain.MajorSecondary">
        select m1.major_secondary_id, m1.major_code, m1.major_name, m1.parent_id, m2.major_name parentName, m1.degree_type from major_secondary m1
                 left join major_primary m2
                 on m1.parent_id = m2.major_primary_id
                 where m2.major_primary_id = #{majorPrimaryId}
    </select>
</mapper>
