<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mapper.SchoolInfoMapper">

    <resultMap id="BaseResultMap" type="com.ruoyi.domain.SchoolInfo">
            <id property="schoolId" column="school_id" jdbcType="INTEGER"/>
            <result property="schoolName" column="school_name" jdbcType="VARCHAR"/>
            <result property="schoolTypeId" column="school_type_id" jdbcType="INTEGER"/>
            <result property="provinceId" column="province_id" jdbcType="INTEGER"/>
            <result property="schoolSite" column="school_site" jdbcType="VARCHAR"/>
            <result property="schoolPhone" column="school_phone" jdbcType="VARCHAR"/>
            <result property="schoolEmail" column="school_email" jdbcType="VARCHAR"/>
            <result property="intro" column="intro" jdbcType="VARCHAR"/>
            <result property="createDate" column="create_date" jdbcType="VARCHAR"/>
            <result property="schoolSpace" column="school_space" jdbcType="DECIMAL"/>
            <result property="schoolAddress" column="school_address" jdbcType="VARCHAR"/>
            <result property="numDoctor" column="num_doctor" jdbcType="INTEGER"/>
            <result property="numMaster" column="num_master" jdbcType="INTEGER"/>
            <result property="numSubject" column="num_subject" jdbcType="INTEGER"/>
            <result property="numLab" column="num_lab" jdbcType="INTEGER"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="schoolBadge" column="school_badge" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        school_id,school_name,school_type_id,
        province_id,school_site,school_phone,
        school_email,intro,create_date,
        school_space,school_address,num_doctor,
        num_master,num_subject,num_lab,
        create_by,create_time,update_by,
        update_time,remark,school_badge
    </sql>
</mapper>
