<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mapper.SchoolTypeMapper">

    <resultMap id="BaseResultMap" type="com.ruoyi.domain.dto.SchoolType">
            <id property="school_type_id" column="school_type_id" jdbcType="INTEGER"/>
            <result property="type_name" column="type_name" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="create_by" column="create_by" jdbcType="VARCHAR"/>
            <result property="update_by" column="update_by" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        school_type_id,type_name,create_time,
        update_time,create_by,update_by,
        remark
    </sql>
</mapper>
