<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mapper.SubjectMapper">

    <resultMap id="BaseResultMap" type="com.ruoyi.domain.dto.Subject">
            <id property="subject_id" column="subject_id" jdbcType="INTEGER"/>
            <result property="subject_code" column="subject_code" jdbcType="INTEGER"/>
            <result property="subject_name" column="subject_name" jdbcType="VARCHAR"/>
            <result property="subject_intro" column="subject_intro" jdbcType="VARCHAR"/>
            <result property="create_by" column="create_by" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_by" column="update_by" jdbcType="VARCHAR"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        subject_id,subject_code,subject_name,
        subject_intro,create_by,create_time,
        update_by,update_time,remark
    </sql>
</mapper>
